h1 {
    border: 2px #eee solid;
    color: #c34fe3;
    text-align: center;
    padding: 10px;
    font-size: 60px;
}

body {
    background:#000759;  
    font-size: 48px;
    margin:0;
    padding:0;
}
.container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    text-align: center;
    padding: 10px;
}