<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Da website</title>
</head>
<body>
   <h1>Welcome to da website</h1>
   <br>
   <container>
        <container>
            <img    src="{{ url_for('static', filename= 'gifs/pikaconstruct.gif') }}"
                    alt="Pikachu is gainfully employed as a construction worker"
                    style="vertical-align:middle;margin:0px 50px"/>
            <img    src="{{ url_for('static', filename= 'gifs/underconstruction2.gif') }}"
                    alt="This is literally an active construction site"
                    style="vertical-align:middle"/>
            <img    src="{{ url_for('static', filename= 'gifs/constructsonic.gif') }}"
                    alt="just threw Sonic in here idk"
                    style="vertical-align:middle"/>
        </container>
   </container>

</body>
</html>